extends includes/layout.pug

block content
  #post.typesetting
    // !=__series_toc(page)
    // 
      TODO: 渲染测试
      bug: _config中 permalink 不能使用目前有的 abbrlink 插件（根据title生成的abbrlink会重复）
      临时使用 :title.html
    article#article-container.post-content!=page.content