.highlight
  .code
  &.1c .code::before
    content: "1C"
  &.4d .code::before
    content: "4D"
  &.sap-abap .code::before
  &.abap .code::before
    content: "ABAP"
  &.abnf .code::before
    content: "ABNF"
  &.accesslog .code::before
    content: "Access logs"
  &.ada .code::before
    content: "Ada"
  &.apex .code::before
    content: "Apex"
  &.arduino .code::before
  &.ino .code::before
    content: "Arduino (C++ w/Arduino libs)"
  &.armasm .code::before
  &.arm .code::before
    content: "ARM assembler"
  &.avrasm .code::before
    content: "AVR assembler"
  &.actionscript .code::before
  &.as .code::before
    content: "ActionScript"
  &.alan .code::before
  &.i .code::before
    content: "Alan IF"
  &.ln .code::before
    content: "Alan"
  &.angelscript .code::before
  &.asc .code::before
    content: "AngelScript"
  &.apache .code::before
  &.apacheconf .code::before
    content: "Apache"
  &.applescript .code::before
  &.osascript .code::before
    content: "AppleScript"
  &.arcade .code::before
    content: "Arcade"
  &.asciidoc .code::before
  &.adoc .code::before
    content: "AsciiDoc"
  &.aspectj .code::before
    content: "AspectJ"
  &.autohotkey .code::before
    content: "AutoHotkey"
  &.autoit .code::before
    content: "AutoIt"
  &.awk .code::before
  &.mawk .code::before
  &.nawk .code::before
  &.gawk .code::before
    content: "Awk"
  &.bash .code::before
  &.sh .code::before
  &.zsh .code::before
    content: "Bash"
  &.basic .code::before
    content: "Basic"
  &.bbcode .code::before
    content: "BBCode"
  &.blade .code::before
    content: "Blade (Laravel)"
  &.bnf .code::before
    content: "BNF"
  &.brainfuck .code::before
  &.bf .code::before
    content: "Brainfuck"
  &.csharp .code::before
  &.cs .code::before
    content: "C#"
  &.c .code::before
  &.h .code::before
    content: "C"
  &.cpp .code::before
  &.hpp .code::before
  &.cc .code::before
  &.hh .code::before
  &.c\\+\\+ .code::before
  &.h\\+\\+ .code::before
  &.cxx .code::before
  &.hxx .code::before
    content: "C++"
  &.cal .code::before
    content: "C/AL"
  &.cos .code::before
  &.cls .code::before
    content: "Cache Object Script"
  &.cmake .code::before
  &.cmake.in .code::before
    content: "CMake"
  &.cobol .code::before
  &.standard-cobol .code::before
    content: "COBOL"
  &.coq .code::before
    content: "Coq"
  &.csp .code::before
    content: "CSP"
  &.css .code::before
    content: "CSS"
  &.capnproto .code::before
  &.capnp .code::before
    content: "Cap’n Proto"
  &.chaos .code::before
  &.kaos .code::before
    content: "Chaos"
  &.chapel .code::before
  &.chpl .code::before
    content: "Chapel"
  &.cisco .code::before
    content: "Cisco CLI"
  &.clojure .code::before
  &.clj .code::before
    content: "Clojure"
  &.coffeescript .code::before
  &.coffee .code::before
  &.cson .code::before
  &.iced .code::before
    content: "CoffeeScript"
  &.cpc .code::before
    content: "CpcdosC+"
  &.crmsh .code::before
  &.crm .code::before
  &.pcmk .code::before
    content: "Crmsh"
  &.crystal .code::before
  &.cr .code::before
    content: "Crystal"
  &.curl .code::before
    content: "cURL"
  &.cypher .code::before
    content: "Cypher (Neo4j)"
  &.d .code::before
    content: "D"
  &.dafny .code::before
    content: "Dafny"
  &.dart .code::before
    content: "Dart"
  &.dpr .code::before
  &.dfm .code::before
  &.pas .code::before
  &.pascal .code::before
    content: "Delphi"
  &.diff .code::before
  &.patch .code::before
    content: "Diff"
  &.django .code::before
  &.jinja .code::before
    content: "Django"
  &.dns .code::before
  &.zone .code::before
  &.bind .code::before
    content: "DNS Zone file"
  &.dockerfile .code::before
  &.docker .code::before
    content: "Dockerfile"
  &.dos .code::before
  &.bat .code::before
  &.cmd .code::before
    content: "DOS"
  &.dsconfig .code::before
    content: "dsconfig"
  &.dts .code::before
    content: "DTS (Device Tree)"
  &.dust .code::before
  &.dst .code::before
    content: "Dust"
  &.dylan .code::before
    content: "Dylan"
  &.ebnf .code::before
    content: "EBNF"
  &.elixir .code::before
    content: "Elixir"
  &.elm .code::before
    content: "Elm"
  &.erlang .code::before
  &.erl .code::before
    content: "Erlang"
  &.excel .code::before
  &.xls .code::before
  &.xlsx .code::before
    content: "Excel"
  &.extempore .code::before
  &.xtlang .code::before
  &.xtm .code::before
    content: "Extempore"
  &.fsharp .code::before
  &.fs .code::before
    content: "F#"
  &.fix .code::before
    content: "FIX"
  &.flix .code::before
    content: "Flix"
  &.fortran .code::before
  &.f90 .code::before
  &.f95 .code::before
    content: "Fortran"
  &.func .code::before
    content: "FunC"
  &.gcode .code::before
  &.nc .code::before
    content: "G-Code"
  &.gams .code::before
  &.gms .code::before
    content: "Gams"
  &.gauss .code::before
  &.gss .code::before
    content: "GAUSS"
  &.godot .code::before
  &.gdscript .code::before
    content: "GDScript"
  &.gherkin .code::before
    content: "Gherkin"
  &.hbs .code::before
  &.glimmer .code::before
  &.html.hbs .code::before
  &.html.handlebars .code::before
  &.htmlbars .code::before
    content: "Glimmer and EmberJS"
  &.gn .code::before
  &.gni .code::before
    content: "GN for Ninja"
  &.go .code::before
  &.golang .code::before
    content: "Go"
  &.gf .code::before
    content: "Grammatical Framework"
  &.golo .code::before
  &.gololang .code::before
    content: "Golo"
  &.gradle .code::before
    content: "Gradle"
  &.graphql .code::before
    content: "GraphQL"
  &.groovy .code::before
    content: "Groovy"
  &.gsql .code::before
    content: "GSQL"
  &.xml .code::before
  &.html .code::before
  &.xhtml .code::before
  &.rss .code::before
  &.atom .code::before
  &.xjb .code::before
  &.xsd .code::before
  &.xsl .code::before
  &.plist .code::before
  &.svg .code::before
    content: "HTML, XML"
  &.http .code::before
  &.https .code::before
    content: "HTTP"
  &.haml .code::before
    content: "Haml"
  &.handlebars .code::before
  &.hbs .code::before
  &.html.hbs .code::before
  &.html.handlebars .code::before
    content: "Handlebars"
  &.haskell .code::before
  &.hs .code::before
    content: "Haskell"
  &.haxe .code::before
  &.hx .code::before
    content: "Haxe"
  &.hlsl .code::before
    content: "High-level shader language"
  &.hy .code::before
  &.hylang .code::before
    content: "Hy"
  &.ini .code::before
  &.toml .code::before
    content: "Ini, TOML"
  &.inform7 .code::before
  &.i7 .code::before
    content: "Inform7"
  &.irpf90 .code::before
    content: "IRPF90"
  &.json .code::before
    content: "JSON"
  &.java .code::before
  &.jsp .code::before
    content: "Java"
  &.javascript .code::before
  &.js .code::before
  &.jsx .code::before
    content: "JavaScript"
  &.jolie .code::before
  &.iol .code::before
  &.ol .code::before
    content: "Jolie"
  &.julia .code::before
  &.julia-repl .code::before
    content: "Julia"
  &.kotlin .code::before
  &.kt .code::before
    content: "Kotlin"
  &.tex .code::before
    content: "LaTeX"
  &.leaf .code::before
    content: "Leaf"
  &.lean .code::before
    content: "Lean"
  &.lasso .code::before
  &.ls .code::before
  &.lassoscript .code::before
    content: "Lasso"
  &.less .code::before
    content: "Less"
  &.ldif .code::before
    content: "LDIF"
  &.lisp .code::before
    content: "Lisp"
  &.livecodeserver .code::before
    content: "LiveCode Server"
  &.livescript .code::before
  &.ls .code::before
    content: "LiveScript"
  &.lookml .code::before
    content: "LookML"
  &.lua .code::before
    content: "Lua"
  &.macaulay2 .code::before
    content: "Macaulay2"
  &.makefile .code::before
  &.mk .code::before
  &.mak .code::before
  &.make .code::before
    content: "Makefile"
  &.markdown .code::before
  &.md .code::before
  &.mkdown .code::before
  &.mkd .code::before
    content: "Markdown"
  &.mathematica .code::before
  &.mma .code::before
  &.wl .code::before
    content: "Mathematica"
  &.matlab .code::before
    content: "Matlab"
  &.maxima .code::before
    content: "Maxima"
  &.mel .code::before
    content: "Maya Embedded Language"
  &.mercury .code::before
    content: "Mercury"
  &.mirc .code::before
  &.mrc .code::before
    content: "mIRC Scripting Language"
  &.mizar .code::before
    content: "Mizar"
  &.mkb .code::before
    content: "MKB"
  &.mlir .code::before
    content: "MLIR"
  &.mojolicious .code::before
    content: "Mojolicious"
  &.monkey .code::before
    content: "Monkey"
  &.moonscript .code::before
  &.moon .code::before
    content: "Moonscript"
  &.n1ql .code::before
    content: "N1QL"
  &.nsis .code::before
    content: "NSIS"
  &.never .code::before
    content: "Never"
  &.nginx .code::before
  &.nginxconf .code::before
    content: "Nginx"
  &.nim .code::before
  &.nimrod .code::before
    content: "Nim"
  &.nix .code::before
    content: "Nix"
  &.oak .code::before
    content: "Oak"
  &.ocl .code::before
    content: "Object Constraint Language"
  &.ocaml .code::before
  &.ml .code::before
    content: "OCaml"
  &.objectivec .code::before
  &.mm .code::before
  &.objc .code::before
  &.obj-c .code::before
  &.obj-c\\+\\+ .code::before
  &.objective-c\\+\\+ .code::before
    content: "Objective C"
  &.glsl .code::before
    content: "OpenGL Shading Language"
  &.openscad .code::before
  &.scad .code::before
    content: "OpenSCAD"
  &.ruleslanguage .code::before
    content: "Oracle Rules Language"
  &.oxygene .code::before
    content: "Oxygene"
  &.pf .code::before
  &.pf.conf .code::before
    content: "PF"
  &.php .code::before
    content: "PHP"
  &.papyrus .code::before
  &.psc .code::before
    content: "Papyrus"
  &.parser3 .code::before
    content: "Parser3"
  &.perl .code::before
  &.pl .code::before
  &.pm .code::before
    content: "Perl"
  &.pine .code::before
  &.pinescript .code::before
    content: "Pine Script"
  &.plaintext .code::before
  &.txt .code::before
  &.text .code::before
    content: "Plaintext"
  &.pony .code::before
    content: "Pony"
  &.pgsql .code::before
  &.postgres .code::before
  &.postgresql .code::before
    content: "PostgreSQL & PL/pgSQL"
  &.powershell .code::before
  &.ps .code::before
  &.ps1 .code::before
    content: "PowerShell"
  &.processing .code::before
    content: "Processing"
  &.prolog .code::before
    content: "Prolog"
  &.properties .code::before
    content: "Properties"
  &.protobuf .code::before
    content: "Protocol Buffers"
  &.puppet .code::before
  &.pp .code::before
    content: "Puppet"
  &.python .code::before
  &.py .code::before
  &.gyp .code::before
    content: "Python"
  &.profile .code::before
    content: "Python profiler results"
  &.python-repl .code::before
  &.pycon .code::before
    content: "Python REPL"
  &.qsharp .code::before
    content: "Q#"
  &.k .code::before
  &.kdb .code::before
    content: "Q"
  &.qml .code::before
    content: "QML"
  &.r .code::before
    content: "R"
  &.cshtml .code::before
  &.razor .code::before
  &.razor-cshtml .code::before
    content: "Razor CSHTML"
  &.reasonml .code::before
  &.re .code::before
    content: "ReasonML"
  &.redbol .code::before
  &.rebol .code::before
  &.red .code::before
  &.red-system .code::before
    content: "Rebol & Red"
  &.rib .code::before
    content: "RenderMan RIB"
  &.rsl .code::before
    content: "RenderMan RSL"
  &.risc .code::before
  &.riscript .code::before
    content: "RiScript"
  &.graph .code::before
  &.instances .code::before
    content: "Roboconf"
  &.robot .code::before
  &.rf .code::before
    content: "Robot Framework"
  &.rpm-specfile .code::before
  &.rpm .code::before
  &.spec .code::before
  &.rpm-spec .code::before
  &.specfile .code::before
    content: "RPM spec files"
  &.ruby .code::before
  &.rb .code::before
  &.gemspec .code::before
  &.podspec .code::before
  &.thor .code::before
  &.irb .code::before
    content: "Ruby"
  &.rust .code::before
  &.rs .code::before
    content: "Rust"
  &.rvt .code::before
  &.rvt-script .code::before
    content: "RVT Script"
  &.SAS .code::before
  &.sas .code::before
    content: "SAS"
  &.scss .code::before
    content: "SCSS"
  &.sql .code::before
    content: "SQL"
  &.p21 .code::before
  &.step .code::before
  &.stp .code::before
    content: "STEP Part 21"
  &.scala .code::before
    content: "Scala"
  &.scheme .code::before
    content: "Scheme"
  &.scilab .code::before
  &.sci .code::before
    content: "Scilab"
  &.shexc .code::before
    content: "Shape Expressions"
  &.shell .code::before
  &.console .code::before
    content: "Shell"
  &.smali .code::before
    content: "Smali"
  &.smalltalk .code::before
  &.st .code::before
    content: "Smalltalk"
  &.sml .code::before
  &.ml .code::before
    content: "SML"
  &.solidity .code::before
  &.sol .code::before
    content: "Solidity"
  &.spl .code::before
    content: "Splunk SPL"
  &.stan .code::before
  &.stanfuncs .code::before
    content: "Stan"
  &.stata .code::before
    content: "Stata"
  &.iecst .code::before
  &.scl .code::before
  &.stl .code::before
  &.structured-text .code::before
    content: "Structured Text"
  &.stylus .code::before
  &.styl .code::before
    content: "Stylus"
  &.subunit .code::before
    content: "SubUnit"
  &.supercollider .code::before
  &.sc .code::before
    content: "Supercollider"
  &.svelte .code::before
    content: "Svelte"
  &.swift .code::before
    content: "Swift"
  &.tcl .code::before
  &.tk .code::before
    content: "Tcl"
  &.terraform .code::before
  &.tf .code::before
  &.hcl .code::before
    content: "Terraform (HCL)"
  &.tap .code::before
    content: "Test Anything Protocol"
  &.thrift .code::before
    content: "Thrift"
  &.toit .code::before
    content: "Toit"
  &.tp .code::before
    content: "TP"
  &.tsql .code::before
    content: "Transact-SQL"
  &.twig .code::before
  &.craftcms .code::before
    content: "Twig"
  &.typescript .code::before
  &.ts .code::before
  &.tsx .code::before
    content: "TypeScript"
  &.unicorn-rails-log .code::before
    content: "Unicorn Rails log"
  &.vbnet .code::before
  &.vb .code::before
    content: "VB.Net"
  &.vba .code::before
    content: "VBA"
  &.vbscript .code::before
  &.vbs .code::before
    content: "VBScript"
  &.vhdl .code::before
    content: "VHDL"
  &.vala .code::before
    content: "Vala"
  &.verilog .code::before
  &.v .code::before
    content: "Verilog"
  &.vim .code::before
    content: "Vim Script"
  &.xsharp .code::before
  &.xs .code::before
  &.prg .code::before
    content: "X#"
  &.axapta .code::before
  &.x\\+\\+ .code::before
    content: "X++"
  &.x86asm .code::before
    content: "x86 Assembly"
  &.xl .code::before
  &.tao .code::before
    content: "XL"
  &.xquery .code::before
  &.xpath .code::before
  &.xq .code::before
    content: "XQuery"
  &.yml .code::before
  &.yaml .code::before
    content: "YAML"
  &.zenscript .code::before
  &.zs .code::before
    content: "ZenScript"
  &.zephir .code::before
  &.zep .code::before
    content: "Zephir"