if hexo-config('css_prefix')
  @import 'nib'
// 配置变量从 ./var.styl 获取
@import 'var'

// TODO: ./css/_global/main.styl 所有css共用
:root
  --global-font-family : $font-family
  --code-height-limit : $code-height-limit
  --article-box-shadow: $article-box-shadow
  --link: $blue
  --link-hover: $orange-red
  --link-hover-bg: $link-hover-bg
  --img-paster-bg: $black
  --del-bg: $black
  --del-hover: $white
  --line: $light-grey
  --code: $orange-red
  --figure-bg: $figure-bg
  --note-border-left: $dark-grey
  --note-bg: $light-grey
  --post-meta: $light-grey
  --post-copyright: $light-grey
  --post-context-info: $light-grey
  --post-context-title: $black
body
  font-family: var(--global-font-family)
// TODO: ./css/_glabal/article.styl 所有包含article（post and page）

@font-face
  font-family: 'SourceCodePro'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url('/css/font/SourceCodePro-Regular.ttf.woff2') format('woff2')

// 代码高亮及其代码相关
@import '_highlight/*'
// plugins
@import '_plugins/*'

// _layout 全局通用
// for test
.box-test
  border-radius: 2px
  box-shadow: var(--article-box-shadow)
.typesetting
  background-size: 100% 24px
  background-image: linear-gradient(transparent 23px, hsl(0deg, 0%, 93%) 1px), linear-gradient(to left, transparent 12px, hsl(0deg, 0%, 93%), transparent 13px), linear-gradient(to right, transparent 12px, hsla(0deg, 100%, 50%, 0.4), transparent 13px)
@media screen and (min-width: 640px)
  .typesetting
    background-image: linear-gradient(transparent 23px, hsl(0deg, 0%, 93%) 1px), linear-gradient(to left, transparent 48px, hsl(0deg, 0%, 93%), transparent 49px), linear-gradient(to right, transparent 48px, hsla(0deg, 100%, 50%, 0.4), transparent 49px)

.click-limit
  animation: throttle 1s step-end forwards
  &:active
    animation: none

@keyframes throttle
  0%
    pointer-events: none
  100%
    pointer-events: all

// TODO: ./css/_layout/sidebar.styl 手机侧边导航栏

// TODO: ./css/_layout/header.styl 顶栏布局

// TODO: ./css/_layout/mainbody.styl 全局主体（左右栏和中间）
.layout
  display: flex
  justify-content: center
  align-items: center
  #mainbody
    max-width: 768px
    width: 100%
    margin-block-start: 48px
    margin-block-end: 72px
    margin-inline: 0
    padding-block: 48px
    #post
      padding-inline: 12px
      padding-block: 48px
    @media screen and (min-width: 640px)
      #post
        padding-inline: 48px
  aside
    width: calc((100% - 768px)/2)
    margin-block-start: 48px
    margin-block-end: 72px
    margin-inline: 20px
  #leftbody
    right: 0
  #rightbody
    left: 0
// TODO: ./css/_layout/footer.styl 页脚布局

// TODO: ./css/_layout/atticle.styl 文章排版
article
  word-wrap: break-word
  hyphens: auto
  letter-spacing: 0.02em
  h1, h2, h3, h4, h5, h6
    margin-block-start: 24px
    margin-block-end: 12px
  h1
    font-size: 32px
    line-height: 48px
  h2
    font-size: 24px
    line-height: 48px
  h3
    font-size: 20px
    line-height: 48px
  h4
    font-size: 18px
    line-height: 24px
  h5
    font-size: 16px
    line-height: 24px
  h6
    font-size: 14px
    line-height: 24px
  p
    margin-block: 24px
    line-height: 1.5
    a
      display: inline-block
      color: var(--link)
      padding-inline: 4px
      transition: all .3s ease-out
      &:hover
        border-radius: 4px
        background: var(--link-hover-bg)
  p
    span:has(img)
      display: inline-flex
    span.bigimg:has(img)
      display: block
      position: relative
      &:before
        position: absolute
        content: ''
        z-index: 1
        height: 20px
        width: 100px
        background: var(--img-paster-bg)
        opacity: 0.15
        top: 22px
        left: -25px
        transform: rotate(-0.12turn)
        clip-path: polygon(0 0,100% 0,95% 25%,100% 50%,95% 75%,100% 100%,0 100%,4% 75%,0 50%,5% 25%)
  img
    max-width: 100%
    margin-block: 12px
    border-radius: 20px
    transition: .3s cubic-bezier(0.4, 0, 0.2, 1)
    box-shadow: var(--article-box-shadow)
  @media screen and (min-width: 640px)
    del
      background: var(--del-bg)
      text-decoration: none
      display: inline-block
      border-radius: 4px
      padding-inline: 4px
      margin-inline: 4px
      transition: .3s cubic-bezier(0.4, 0, 0.2, 1)
      &:hover
        color: var(--del-hover)
  ul, ol, dl
    margin-block-start: 12px
    margin-block-end: 24px
    line-height: 1.5
  ul, ol
    padding-inline-start: 32px
  ul ul, ul ol, ol ul, ol ol
    margin-block: 0
  ul
    list-style-type: disc
  ol
    list-style-type: decimal
  ul ul, ol ul
    list-style-type: circle
  ul ul ul, ul ol ul, ol ul ul, ol ol ul
    list-style-type: square
  li
    list-style-type: unset
  hr
    margin-block-start: 34px
    margin-block-end: 36px
    border-style: double
    border-color: var(--line)
    background: var(--line)
    border-radius: 1px
  code
    font-family: var(--global-font-family)
    font-style: italic
    font-size: 13px
    color: var(--code)
    background: $block-bg
    word-wrap: break-word
    word-break: break-word
    overflow-wrap: break-word
    border-radius: 4px
    padding-inline: 4px
    margin-inline: 4px
    display: inline-block
  pre code
      line-height: 1.5
      padding-block: 12px
      padding-inline: 20px
      border-radius: 10px
  figure
    line-height: 1.5
    background: var(--figure-bg)
    margin-block: 20px
    margin-inline: 4px
    padding-inline: 20px
    border-radius: 20px
  blockquote
    margin-block: 36px
    margin-inline: 4px
    padding-block: 12px
    padding-inline: 16px
    background: $block-bg
    border-radius: 8px;
    border-left: 8px solid var(--note-border-left)
    p
      margin-block-start: 0
      &:last-of-type
        margin-block-end: 0
    blockquote
      margin-block: 12px
  li:has(input)
    &::marker
      content: none
  ul:has(li>input)
    padding-inline-start: 10px
  table:not(figure.highlight *)
    margin-block-start: 22px
    margin-block-end: 24px
    margin-inline: 4px
    width: -webkit-fill-available
    text-align: left
    border-top: 2px solid
    border-bottom: 1.76px solid
    border-collapse: collapse
    thead, tbody tr
      height: 24px

// /_loyout/post.styl 文章页
#post-head
  margin-inline: 4px
  line-height: 24px
  font-size: 13px
  h1
    margin-block-start: 24px
    margin-block-end: 48px
    font-size: 32px
    line-height: 48px
  a
    display: inline-block
    color: var(--link)
    text-decoration: none
    transition: all .3s ease-out
    &:hover
      color: var(--link-hover)
  #post-meta
    color: var(--post-meta)
#article-container
  margin-inline: 4px
#post-copyright
  color: var(--post-copyright)
  font-size: 14px
  text-align: center
  margin-block: 48px
  i:before
    vertical-align: bottom
    font-size: 20px
  a
    color: var(--post-copyright)
    transition: all .2s ease-out
    &:hover
      color: var(--link-hover)
#post-context
  display: flex
  justify-content: space-between
  border-top: 1px dashed var(--line)
  #post-prev
    width: 50%
    text-align: left
    margin-inline-end: 8px
    padding-block: 16px
    display: flex
    flex-direction: column
    align-items: flex-start
  #post-next
    width: 50%
    text-align: right
    margin-inline-start: 8px
    padding-block: 16px
    display: flex
    flex-direction: column
    align-items: flex-end
  span
    font-size: 13px
    color: var(--post-context-info)
    padding-block-end: 6.5px
  a
    color: var(--post-context-title)
    font-size: 24px
    height: 100%
    width: 75%
    text-decoration: none
    transition: all .2s ease-out
    &:hover
      color: var(--link-hover)

// _tags 外挂标签
.tag-mark
  &.u
    text-decoration: none
    border-bottom: 2px solid
  &.wavy
    text-decoration: underline wavy
  &.emp
    width: fit-content
    text-decoration: none
    border-bottom: 4px dotted
  &.cover
    border-radius: 2px
    transition: all .3s ease-out
    &:hover
      color: white
  &.del
    text-decoration: line-through
  &.sup
    vertical-align: super
    line-height: 1
    font-size: smaller
  &.sub
    vertical-align: sub
    line-height: 1
    font-size: smaller
  &.kbd
    border-radius: 4px
    border: 1px solid grey
    border-bottom-width: 3px
    padding-inline: 2px
    font-size: 14px
    vertical-align: text-top
  &.red
    color: red
    &.cover
      background: red
  &.orange
    color: orange
    &.cover
      background: orange
  &.yellow
    color: #cc0
    &.cover
      background: #cc0
  &.green
    color: green
    &.cover
      background: green
  &.cyan
    color: #0cc
    &.cover
      background: #0cc
  &.blue
    color: blue
    &.cover
      background: blue
  &.purple
    color: purple
    &.cover
      background: purple
  &.grey
    color: gray
    &.cover
      background: gray
.tag-highlighter
  color: #000000c0
  border-radius: 4px
  margin-inline: 2px
  padding-inline: 2px
  &.red
    background: #ffa0a0
  &.orange
    background: #ffdda0
  &.yellow
    background: #ee0
  &.green
    background: #a0ffa0
  &.cyan
    background: #a0ffff
  &.blue
    background: #adcfff
  &.purple
    background: #ffa0ff
  &.grey
    background: #d0d0d0
.tag-quot
  text-align: center
  align-items: center
  display: flex
  flex-direction: column
  margin-block: 12px
  .content
    font-size: 20px
    font-weight: 800
    position: relative
    padding-block: 12px
    padding-inline: 16px
    max-width: 60%
    margin-block-end: 0
    &:before
      content: ""
      position: absolute
      width: 8px
      height: 14px
      top: 8px
      left: 0
      border-top: 6px solid red
      border-left: 6px solid red
    &:after
      content: ""
      position: absolute
      width: 8px
      height: 14px
      right: 0
      bottom: 8px
      border-right: 6px solid red
      border-bottom: 6px solid red
  .author
    margin-block-start: 0
    text-align: right
    max-width: 80%
    width: 100%
    color: grey
.tag-note
  margin-block: 36px
  margin-inline: 4px
  padding-block: 12px
  padding-inline: 0 16px
  background: $block-bg
  border-radius: 8px
  border-left: 8px solid var(--note-border-left)
  display: flex
  flex-direction: row
  align-items: center
  box-shadow: 2px 2px #00000040
  .icon,.content
    display: inline-block
  .icon
    padding-inline-start: 12px
    font-size: 16px
  .content p
    margin-block-start: 0
    margin-inline-start: 12px
    &:last-of-type
      margin-block-end: 0
  &.red
    background: #ff000010
    border-left-color: red
    .icon i
      color: red
  &.orange
    background: #ffa50040
    border-left-color: orange
    .icon i
      color: orange
  &.yellow
    background: #faff9e80
    border-left-color: #ffe200
    .icon i
      color: #ffe200
  &.green
    background: #00e00020
    border-left-color: #00e000
    .icon i
      color: #00e000
  &.cyan
    background: #00ffff20
    border-left-color: #00d0d0
    .icon i
      color: #00d0d0
  &.blue
    background: #00a0ff10
    border-left-color: #00a0ff
    .icon i
      color: #00a0ff
  &.purple
    background: #80008010
    border-left-color: #cc00cc
    .icon i
      color: #cc00cc
  &.grey
    background: #bbbbbb40
    border-left-color: #bbbbbb
    .icon i
      color: #bbbbbb
.tag-copy
  margin-block-start: 28px
  margin-block-end: 28.55px
  margin-inline: 4px
  display: flex
  justify-content: space-between
  border-radius: 8px
  overflow: hidden
  background: #fbfbfb
  max-width: 100%
  .copy-area
    text-indent: 1rem
    font-family: 'SourceCodePro'
    background: #fbfbfb
    border: 1px solid #e3e5e8
    border-radius: 8px 0 0 8px
    width: 100%
    outline: none
  .copy-btn
    padding-block: 0
    padding-inline: 10px
    line-height: 36px
    display: inline-block
    background: #e3e5e8
    border: 1px solid #e3e5e8
    border-radius: 0 8px 8px 0
    transition: all .3s ease-out
    i
      pointer-events: none
    &:hover
      background: #fff
// _component ui组件库，与 trefoil/layout/component/*.pug 一一对应