// font
$dafault-font-family = -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', sans-serif
$font-family = hexo-config('global_font_family')?unquote(hexo-config('global_font_family')):$dafault-font-family

// code
$code-height-limit = hexo-config('code.height_limit')?(unquote(s('%dpx',hexo-config('code.height_limit')+30))):100px

// article
$article-box-shadow = 0 2px 7px #00000017
$link-hover-bg = #2094f320
$figure-bg = #fffdfd
$block-bg = #0000000e

// color
$black = #000
$white = #fff
$light-grey = #bbb
$dark-grey = #aaa
$orange-red = #ff5724
$blue = #2094f3