.toastify
  border-radius: 20px !important
  backdrop-filter: blur(4px)
  -webket-backdrop-filter: blur(4px)
  &:before
    margin-right: 4px
    vertical-align: bottom
    font-family: 'remixicon'
    font-size: 18px

.toastify.toastify-success
  color: #000
  background: #f8fff8bb
  &:before
    content: "\eb80"
    color: #0a0

.toastify.toastify-error
  color: #000
  background: #fff8f8bb
  &:before
    content: "\eb96"
    color: #f00

.toastify.toastify-info
  color: #000
  background: #eefaffbb
  &:before
    content: "\ee58"
    color: #00b4ff

.toastify.toastify-warn
  color: #000
  background: #fff0ddbb
  &:before
    content: "\eca0"
    color: #ff8800