.tag-copy
  margin-block-start: 28px
  margin-block-end: 28.55px
  margin-inline: 4px
  display: flex
  justify-content: space-between
  border-radius: 8px
  overflow: hidden
  background: #fbfbfb
  max-width: 100%
  .copy-area
    text-indent: 1rem
    font-family: 'SourceCodePro'
    background: #fbfbfb
    border: 1px solid #e3e5e8
    border-radius: 8px 0 0 8px
    width: 100%
    outline: none
  .copy-btn
    padding-block: 0
    padding-inline: 10px
    line-height: 36px
    display: inline-block
    background: #e3e5e8
    border: 1px solid #e3e5e8
    border-radius: 0 8px 8px 0
    transition: all .3s ease-out
    i
      pointer-events: none
    &:hover
      background: #fff