.tag-highlighter
  color: #000000c0
  border-radius: 4px
  margin-inline: 2px
  padding-inline: 2px
  &.red
    background: #ffa0a0
  &.orange
    background: #ffdda0
  &.yellow
    background: #ee0
  &.green
    background: #a0ffa0
  &.cyan
    background: #a0ffff
  &.blue
    background: #adcfff
  &.purple
    background: #ffa0ff
  &.grey
    background: #d0d0d0